/* FOR MOBILE BROWSERS - - - - - - - - - - - - - - - - - - - - - - */
@media (max-width: 1300px){
  :root {
    font-size: 3.5vw;
  }
  .container, img#main_img{
    max-width: 100%;
  }

  h1{
    font-size : 100%;
  }

}

/* FOR DESKTOP BROWSERS - - - - - - - - - - - - - - - - - - - - - -*/
@media (max-resolution: 1dppx){
  :root {
    font-size: 14px; 
  }
  .container , .navbar_container , .block{
    max-width: 898px;
  }
  img#main_img{
    width: 900px;
  }
}

/* GENERALS - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
* {
    font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif;
}

a{
  color: black;
}

body {
  background-color: #8d9b9e;
  margin:0 auto;
}

h2, h3, h4 {
  margin-top:0;
  margin-bottom: 2px;
  padding:5px;
  padding-left:20px;
  text-align: left;
  border-bottom: solid 1px #507960;
  background-color: #EEF0FC;
}
h1{
  width: 100%;
}

h3 {
  text-align: center;
  margin-bottom: 0;
  border-bottom: none;
}

p {
  margin:0;
  padding:0px;
  padding-left:20px;
  padding-bottom:20px;
  padding-right:20px;
  text-align: justify;
  width: 100% auto;
}

table{
  width:898px;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  height: 50px;
}

.img_thumbnail{
  width: 100px;
  height: auto;
}


#wrapper {
  width: 900px;
  display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-start;
}

.container { 
  display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 3px;
  margin-bottom: 3px;
  border: solid #507960 1px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
}

.block { 
  display: flex;
  flex: 1 1 auto;
  flex-flow: column;
  justify-content: space-between;
  background-color: #ffffff;
}

.child {
  width: 100%;
}
/* NAVBAR & TOP PART - - - - - - - - - - - - - - - - - - - - - - - */

.navbar_container{
  min-width: 898px;
  background-color: rgba(0, 0, 0, 0);
}

.text_over_main_img{
  position: absolute;
  top: 12px;
  padding-left: 210px;
  max-width: 600px;
}

/* FOOTER SPECIFICS - - - - - - - - - - - - - - - - - - - - - - - -*/

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1b1b1b;
  text-align: center;
  border: solid #507960 1px;
  color: white;
  font-size: 120%;
}

.footer a{
 color: white;
 font-weight: bold;
}
/* BLOG SPECIFICS - - - - - - - - - - - - - - - - - - - - - - - - -*/

.blog_post_info{
  font-size: 70%;
}

/* CV SPECIFICS - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.comp_list{
  margin:2px;
  list-style-type: square;
}

.table_oddline{
  background-color: #eef0fa;
}

.table_evenline{
  background-color: #ffffff;
}

.table_align_top{
  vertical-align: top;
}

/* PROJECTS SPECIFICS - - - - - - - - - - - - - - - - - - - - - - -*/
.no_border{
  border-color: rgba(0, 0, 0, 0);
}

.doc_block{
  flex-grow: 0;
  margin-right: 40px;
  padding: 5px;
  border: dotted #507960 1px;
}

/* JesterBox - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Author: Schizohatter/Soanvig (http://schizohatter.tk)
 * More information in readme (https://github.com/soanvig/JesterBox)
 */

.JesterBox div 
{ 
    visibility: hidden;
    position: fixed;
    top: 5%; right: 5%; bottom: 5%; left: 5%;
    z-index: 75;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.JesterBox div:before
{
    content: '';
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 74;
    
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.5s ease-out;
}

.JesterBox div img
{
    position: relative;
    z-index: 77;
    max-width: 100%;
    max-height: 100%;
    
    margin-left: -9999px;
    opacity: 0;
    transition-property: all, opacity;
    transition-duration: 0.5s, 0.2s;
    transition-timing-function: ease-in-out, ease-out;
}

.JesterBox div:target { visibility: visible; }

.JesterBox div:target:before { background-color: rgba(0, 0, 0, 0.7); }

.JesterBox div:target img
{
    margin-left: 0px;
    opacity: 1;
}