/* FOR MOBILE BROWSERS*/
@media (max-width: 1300px){
  :root {
    font-size: 4vw;
  }
  img#main_img{
    max-width: 100%;
  }
  .container , .navbar_container , .block{
    max-width: 100%;
  }
}

/* FOR DESKTOP BROWSERS*/
@media (max-resolution: 1dppx){
  :root {
    font-size: 14px; 
  }
  .container , .navbar_container , .block{
    max-width: 900px;
  }
  img#main_img{
    width: 896px;
  }
}

* {
    font-family: "Segoe UI",Roboto,"Droid Sans","Helvetica Neue",Arial,sans-serif;
}

a{
  color: black;
}

body {
  background-color: #646e70;
  margin:0 auto;
}

h2, h3, h4 {
  padding:5px;
  padding-left:20px;
  text-align: left;
  border-bottom: dotted 2px #7eb013;
  background-color: #EEF0FC;
}

p {
  margin:0;
  padding:0px;
  padding-left:20px;
  padding-bottom:20px;
  padding-right:20px;
  text-align: justify;
  width: 100% auto;
}

p.post_footer{
  font-size: 70%;
}

#sidebar_right img{
  max-width: 170px;
  height: auto;
}

.container { 
  display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 20px;
  border: solid #242527 2px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0);

}

.block { 
  display: flex;
  flex: 1 1 auto;
  flex-flow: column;
  justify-content: space-between;
  background-color: #ffffff;
}

/* Navbar */

.navbar_container{
  display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
  justify-content: space-between;
  margin:0 auto;
  border: solid #242527 2px;
  min-width: 896px;
  background-color: rgba(0, 0, 0, 0);
}

.navbar_block{
  display: flex;
  flex: 1 1 auto;
  margin: 0 auto;
  flex-flow: column;
  justify-content: space-between;
  background-color: #ffffff;
}

.navbar_img{
  display: block;
  max-width: 50px;
  margin: 10px auto;
}

#corpus{
  width: 700px;
  border: hidden;
  margin: 0;
}

#sidebar_right{
  width: 180px;
  flex: 0 0 auto;
  border: 0px;
  margin: 0;
}

.block#sidebar_block{
  min-width: 100px;
}

.text_over_main_img{
  position: absolute;
  top: 10px;
  padding-left: 3px;
  color: white;
}

#main_img{
  border: solid #242527 2px;
}

#wrapper {
  max-width: 900px;
  display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-start;
}

/* JesterBox 
 * Author: Schizohatter/Soanvig (http://schizohatter.tk)
 * More information in readme (https://github.com/soanvig/JesterBox)
 */

.JesterBox div 
{ 
    visibility: hidden;
    position: fixed;
    top: 5%; right: 5%; bottom: 5%; left: 5%;
    z-index: 75;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.JesterBox div:before
{
    content: '';
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 74;
    
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.5s ease-out;
}

.JesterBox div img
{
    position: relative;
    z-index: 77;
    max-width: 100%;
    max-height: 100%;
    
    margin-left: -9999px;
    opacity: 0;
    transition-property: all, opacity;
    transition-duration: 0.5s, 0.2s;
    transition-timing-function: ease-in-out, ease-out;
}

.JesterBox div:target { visibility: visible; }

.JesterBox div:target:before { background-color: rgba(0, 0, 0, 0.7); }

.JesterBox div:target img
{
    margin-left: 0px;
    opacity: 1;
}