<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="ROBOTS" content="NONE" />
        <title>Devblog</title>
        
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static style %}" />
        <link rel="favicon" href="{%  static favicon %}">
    </head>

    <body>
        <div id="wrapper">
            <div class="navbar_container">
                {% for navbar_item in navbar %}
                <div class="navbar_block">
                    <a href="{{navbar_item.link}}">
                        <h4>{{navbar_item.name}}</h4>
                    </a>
                </div> <!-- end navbar_block -->
                {% endfor %}
            </div> <!-- end navbar_container -->

            {% for post in content %}
            <div class="container">
                <div class="block">
                    <h2>{{post.title}}</h2>
                    <p>{{post.body}}</p>
                </div>
            </div>
            {% endfor %}
        </div> <!-- end wrapper -->
    </body>

</html>