<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="ROBOTS" content="NONE" />
        <title>CV Julien Ollivier</title>
        
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{{style}}" />
        <link rel="favicon" href="{{favicon}}" />
    </head>

    <body>
        <div id="wrapper">   
            <div>
                <h1 class="text_over_main_img">Curriculum Vitae</h1>
                <img src="{{main_img}}" alt="main_img" id="main_img">
            </div> <!-- end main_img div -->

            <div class="container navbar_container">
                {% for navbar_item in navbar %}
                <div class="block">
                    <a href="{{navbar_item.link}}">
                        <h3>{{navbar_item.name}}</h3>
                    </a>
                </div> <!-- end navbar_block -->
                {% endfor %}
            </div> <!-- end navbar_container -->

            <h1>Compétences</h1>
            <div class="block">
                <table class="exp_table ">
                    <td class="table_align_top">
                        <h3>Géomatiques</h3>
                        <ul>
                            <li class="comp_list">Maîtrise des principes et logiciels SIG</li>
                            <li class="comp_list">Maîtrise de traitements d'image et télédétection</li>
                            <li class="comp_list">Maîtrise des base de données</li>
                            <li class="comp_list">Connaissances en programmation</li>
                        </ul>
                    </td>
                    <td class="table_align_top">
                        <h3>Techniques</h3>
                        <ul>
                            <li class="comp_list">Connaissances en environnement et biologie</li>
                            <li class="comp_list">Maîtrise de l'assainissement</li>
                            <li class="comp_list">Aisance durant les missions de terrain</li>
                            <li class="comp_list">Notions réglementaires en droit de l'environnement</li>
                        </ul>
                    </td>
                    
                    <td class="table_align_top">
                        <h3>Relationnelles</h3>
                        <ul>
                            <li class="comp_list">Connaissance des collectivités territoriales</li>
                            <li class="comp_list">Esprit d'équipe</li>
                            <li class="comp_list">Maîtrise du reporting</li>
                            <li class="comp_list">Anglais bilingue (TOEIC niv. C2 2013)</li>
                        </ul>
                    </td>
                </table>
            </div>

            <h1>Expérience professionnelle</h1>
            <div class="container">
                <table class="exp_table">
                    {% for line in exp_table %}
                        <tr class="{{line.odd}}">
                            <th>{{line.date | safe}}</th>
                            <td>{{line.corpus | safe}}</td>
                            <td>{{line.more | safe}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <h1>Formation</h1>
            <div class="container">
                <table class="exp_table">
                    {% for line in formation_table %}
                        <tr class="{{line.odd}}">
                            <th>{{line.date | safe}}</th>
                            <td>{{line.corpus | safe}}</td>
                            <td>{{line.more | safe}}</td>
                            <td>{{line.link | safe}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="container"><br><br><br>.</div>
            <div class="footer">
            {% for item in footer_items %}
                - <a href="{{item.link}}">{{item.title}}</a>
            {% endfor %}
             -
            </div>
        </div> <!-- end wrapper -->

        <a href="#" class="JesterBox">
          <div id="archi_serveur"><img src="{{img_archi_serveur}}"></div>
        </a>
    </body>

</html>